/* css comment*/
p{
    font-size: 18px;
    color: blue;
}

a{
    text-decoration: underline;
    color:blueviolet;
}
h1{
    color:beige;
}
/* to format an id initialize with # symbol*/
#nav-header{
    color:brown;
    font-size: 28px;
}
li{
    color:cadetblue;
}
/*To format a class initialize with . symbol*/
.classed{
    color:bisque;
}
/*specific rules override general rules:
id == 100points
class == 10points
element == 1 point */
